<h1>Your Restaurants
<%= link_to "Create restaurant", restaurants_new_url, :class => 'btn btn-primary pull-right' %>
</h1>


<% if @restaurants.count != 0 %>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    <thead>

    <% @restaurants.each do |restaurant| %>
        <tr>
            <td><%= link_to restaurant.name, restaurants_show_url(restaurant.id) %></td>
            <td><%= restaurant.description %></td>
        </tr>
    <% end %>
</table>
<% else %>
    <p>You are not a reviewer of any restaurants.</p>
<% end %>